
Dziękujemy za zarejestrowanie się na serwisie {{$sitename}}.

Szczegóły Twojego logowania są nastęþujące:

Lokalizacja serwisu:	{{$siteurl}}
Nazwa logowania:	{{$email}}

Zaloguj się za pomocą hasła wybranego podczas rejestracji.

Musimy zweryfikować Twój adres e-mail, aby zapewnić Ci pełny dostęp.

Twój kod weryfikacyjny, to:

{{$hash}}

Jeśli zarejestrowałeś to konto, wprowadź kod weryfikacyjny do żądania lub odwiedź
poniższy link:

{{$siteurl}}/regver/allow/{{$hash}} 

Aby odrzucić rejestrację i usunąć konto, odwiedź:

{{$siteurl}}/regver/deny/{{$hash}}


Dziękjemy.


--
Warunki świadczenia usług:
{{$siteurl}}/help/TermsOfService

