<div class="generic-content-wrapper">
	<div class="section-title-wrapper">
		<h2>{{$title}}</h2>
	</div>
	<div class="section-content-wrapper clearfix">
		{{foreach $contacts as $contact}}
		{{include file="contact_template.tpl"}}
		{{/foreach}}
		{{** make sure this element is at the bottom - we rely on that in endless scroll **}}
		<div id="page-end" class="float-left w-100"></div>
	</div>
</div>
<script>$(document).ready(function() { loadingPage = false;});</script>
<div id="page-spinner" class="spinner-wrapper">
	<div class="spinner m"></div>
</div>
