
/* jot */
.jothidden {
	display:none;
}

.jot-poll-option {
	position: relative;
}

.poll-option-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.25rem 0 0.25rem 0.5rem;
	cursor: pointer;
}

#jot-title-wrap,
#jot-summary-wrap,
#jot-pagetitle-wrap,
#jot-category-wrap,
#jot-customjotheaders-wrap {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

#jot-attachment-wrap,
#jot-poll-wrap {
	border-top: 1px solid rgba(0, 0, 0, .2);
}

#jot-title-wrap input,
#jot-summary-wrap input,
#jot-pagetitle-wrap input,
#jot-customjotheaders-wrap {
	padding: 0.5rem;
}

#jot-text-wrap {
	position: relative;
}

#profile-jot-tools {
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0.7;
}

#profile-jot-text {
	resize: none;
	border-width: 0px;
	height: 2.5rem;
	line-height: 1.5rem;
	padding: 0.5rem;
	width: 100%;
	display: inherit;
}

#profile-jot-text.jot-expanded {
	resize: vertical;
	height: 200px;
}

#profile-jot-text.hover {
	background-color: aliceblue;
	opacity: 0.5;
	box-shadow: inset 0 0px 7px #5cb85c;
}

.comment-edit-text-empty.hover, .comment-edit-text-full.hover  {
	background-color: aliceblue;
	opacity: 0.5;
	box-shadow: inset 0 0px 7px #5cb85c;
}


.jot-attachment {
	border: 0px;
	padding: 10px;
	width: 100%;
}

#profile-jot-text-loading {
	padding: 30px 0px 0px 12px;
}

#profile-jot-submit-wrapper {
	border-top: 1px solid rgba(0, 0, 0, .2);
}

/* conversation */


/* conv_item */

.wall-item-head-new {
	border-top: 0.2rem solid #007bff;
}

.wall-item-info {
	display: block;
	float: left;
	margin-right: 10px;
}

.wall-item-wrapper {
	margin-left:10px;
}

.wall-item-photo-wrapper {
	position: relative;
}

.wall-item-photo-caret {
	position: absolute;
	left: 3px;
	bottom: 0px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
	display: none;
}

.wall-item-photo-wrapper:hover .wall-item-photo-caret {
	display: block;
}

.wall-item-divider {
	margin: 5px;
}

.wall-item-lock {
	float: left;
}

a.wall-item-name-link {
	font-weight: bold !important;
}

.wall-item-author {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wall-item-ago,
.wall-item-ago i {
	font-size: 0.75rem;
	line-height: 1.1;
}

.wall-item-ago .fa-check {
	cursor: pointer;
}

.wall-item-content {
	overflow: hidden;
}

.wall-item-content img {
	max-width: 100%;
}

.wall-item-title.h3 {
	font-weight: bold;
	margin: 0px;
	word-wrap: break-word;
}

.wall-item-title.bg-primary a {
	color: #fff;
}

.wall-item-body {
	word-wrap: break-word;
}

.item-tool {
	cursor: pointer;
}

.item-select {
	opacity: 0.1;
	filter:alpha(opacity=10);
	float: right;
	margin-right: 10px;

}

.item-select:hover,
.checkeditem {
	opacity: 1;
	filter:alpha(opacity=100);
}

.item-act-list {
	width: 20px;
}

.shared_header {
	margin-bottom: 20px;
}

.ivoted {
	color: #007bff;
}

.item-highlight {
	border-left: 0.2rem solid #007bff;
}

.item-highlight .wall-item-head,
.item-highlight .wall-item-content,
.item-highlight .wall-item-tools {
	padding-left: 0.3rem;
}

/* comment_item */


.comment-edit-text {
	padding: 0.5rem;
	width: 100%;
	display: inherit;
	line-height: 1;
	height: 2rem;
	resize: none;
}

.comment-edit-text.expanded {
	line-height: 1.25;
	height: 7rem;
	resize: vertical;
}

.comment-tools,
.comment-edit-preview {
	display: none;
}

/* disable link handling for unknown entries */
.dropdown-menu a.disabled {
	pointer-events: none;
	cursor: default;
}

.item-verified {
	color: darkgreen;
}

.item-forged {
	color: #FF0000;
}

/* event item */

.event-item-title h3 {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}

.event-item-description {
	padding-bottom: 10px;
}

.event-item-label {
	font-weight: bold;
}

/* vevent */

.event-title h3 {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}

.vevent {
	padding-top: 10px;
}

.event-description {
	padding-top: 10px;
	padding-bottom: 10px;
}

.event-label {
	font-weight: bold;
}

/* bb-code */

/* prevent [toc] bbcode links to scroll the titles behind the navbar */
.section-content-wrapper h1,
.section-content-wrapper h2,
.section-content-wrapper h3,
.section-content-wrapper h4 {
	padding-top: 60px;
	margin-top: -40px;
}

.toc {
	margin-top: 1em;
}

code {
	font-family: Courier, monospace;
	font-size: 1em;
	padding: 1em 1.5em;
	display: block;
}

code.inline-code {
	padding: 0px 4px;
	display: inline;
}

.overline {
	text-decoration: overline;
}

img.smiley.emoji:hover {
	transform: scale(2);
	transition: transform .1s ease-out;
	filter: drop-shadow(0px 0px 1px rgba(0,0,0,.5));
}

.checklist input {
	margin: 0px;
	vertical-align: middle;
}

.combobox {
	padding: 15px;
}

.view-summary {
	margin-bottom: 1rem;
}

.view-article {
	margin-top: 1rem;
}


#filer_save {
	margin-left: 15px;
}
