<dl class="dl-horizontal">
	<dt>Ogólne</dt>
	<dd>
	Karty reprezentują trwały obszar współpracy, który jest niezależny od
	strumienia społecznościowego. Są nieco lżejsze niż strony internetowe i wiki,
	dzięki czemu zapewniają szybką organizację informacji i mają tę zaletę, że
	umożliwiają współpracę i komentowanie. Są dobrze przystosowane do pomocy w
	organizowaniu złożonych zadań, w przypadku których często pojawiają się
	aktualizacje i informacje zwrotne.
	</dd>
		<dt>Dodanie karty</dt>
		<dd>
			Tworzenie nowej karty jest bardzo podobne do tworzenia nowego postaa.<br><br>
		<ul>
			<li>
				<b>Nazwa linku do strony</b>: nazwa linku do strony jest nazwą
				karty dla statycznego adresu URL
			</li>
			<li>
				<b>Tytuł</b>: Tytuł jest wyświetlany u góry karty
			</li>
			<li>
				<b>Kategorie</b>: Jeśli na swoim kanale masz włączoną
				<a href="/settings/features"> funkcjonalność kategorii postów </a>,
				możesz dodawać kategorie do karty. Te kategorie zapełniają listę
				<b>Kategorie</b> na lewym panelu i umożliwiają filtrowanie
				kolekcji kart.
			</li>
		</ul>
	</dd>
</dl>
